In [27]:
import pandas as pd 

file_path = "D:/Documents/Documents/Besant technology/5.python/code/mtcars2.csv"

cars = pd.read_csv(file_path)
print(cars)

             Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0
4           Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
5     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0
6               Valiant  18.1    6  225.0  105  2.76  3.460  17.02   1   0
7            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0
8             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0
9              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0
10             Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0
11            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0
12           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0
13   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
14           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0
15          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
16          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
17   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
18  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
19    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
20             Fiat 128  32.4    4   78.7   66  4.08  2.200  17.42   1   1
21          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
22       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
23        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0
24          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
25     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0
26          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
27           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
28     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0
29            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  17.05   1   1
30        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1
31         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1
32       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
33         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1
34        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
35           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1
36          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
37   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
38  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
39    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
40             Fiat 128  32.4    4   78.7   66  4.08  2.200  17.42   1   1
41          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
42       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
43        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     3
5      3     2
6      3     1
7      3     4
8      4     2
9      4     2
10     4     4
11     4     4
12     3     3
13     3     4
14     3     3
15     3     3
16     3     2
17     3     4
18     3     4
19     3     4
20     4     1
21     4     2
22     4     1
23     3     1
24     3     2
25     3     2
26     3     2
27     3     4
28     3     2
29     4     1
30     5     2
31     5     2
32     5     4
33     5     6
34     5     8
35     4     2
36     3     2
37     3     4
38     3     4
39     3     4
40     4     1
41     4     2
42     4     1
43     3     1

In [31]:
cars.shape

(44, 12)

In [33]:
type(cars)

pandas.core.frame.DataFrame

In [35]:
#first 5 records it will give if u pass value 10 then 10 data will show 
cars.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3

In [37]:
#last 5 records it will give 
cars.tail()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1

In [39]:
#it will give how many null values are their is datasets
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  44 non-null     object
 1   mpg         44 non-null     float64
 2   cyl         44 non-null     int64
 3   disp        44 non-null     float64
 4   hp          44 non-null     int64
 5   drat        44 non-null     float64
 6   wt          44 non-null     float64
 7   qsec        44 non-null     float64
 8   vs          44 non-null     int64
 9   am          44 non-null     int64
 10  gear        44 non-null     int64
 11  carb        44 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 4.3+ KB

In [41]:
mean_values = cars.mean(numeric_only=True)
print(mean_values)

mpg      19.722727
cyl       6.318182
disp    244.556818
hp      146.795455
drat      3.559773
wt        3.327750
qsec     17.750227
vs        0.409091
am        0.363636
gear      3.568182
carb      2.727273
dtype: float64

In [43]:
median_values = cars.median(numeric_only=True)
print(median_values)

mpg      18.400
cyl       7.000
disp    266.900
hp      150.000
drat      3.580
wt        3.435
qsec     17.420
vs        0.000
am        0.000
gear      3.000
carb      2.000
dtype: float64

In [45]:
std_values = cars.std(numeric_only = True)
std_values

mpg       6.780679
cyl       1.827092
disp    134.989997
hp       66.454244
drat      0.559657
wt        1.113763
qsec      1.535409
vs        0.497350
am        0.486607
gear      0.695424
carb      1.515250
dtype: float64

In [47]:
cars.max(numeric_only=True)

mpg      33.900
cyl       8.000
disp    472.000
hp      335.000
drat      4.930
wt        5.424
qsec     22.900
vs        1.000
am        1.000
gear      5.000
carb      8.000
dtype: float64

In [49]:
cars.min(numeric_only=True)

mpg     10.400
cyl      4.000
disp    71.100
hp      52.000
drat     2.760
wt       1.513
qsec    14.500
vs       0.000
am       0.000
gear     3.000
carb     1.000
dtype: float64

In [51]:
cars.count()

Unnamed: 0    44
mpg           44
cyl           44
disp          44
hp            44
drat          44
wt            44
qsec          44
vs            44
am            44
gear          44
carb          44
dtype: int64

In [53]:
#it will give the descricptive summary od dataset
cars.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000
mean,19.722727,6.318182,244.556818,146.795455,3.559773,3.327750,17.750227,0.409091,0.363636,3.568182,2.727273
std,6.780679,1.827092,134.989997,66.454244,0.559657,1.113763,1.535409,0.497350,0.486607,0.695424,1.515250
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.000000
25%,15.200000,4.000000,120.250000,96.500000,3.077500,2.465000,17.020000,0.000000,0.000000,3.000000,2.000000
50%,18.400000,7.000000,266.900000,150.000000,3.580000,3.435000,17.420000,0.000000,0.000000,3.000000,2.000000
75%,22.800000,8.000000,350.250000,186.250000,3.920000,3.780000,18.520000,1.000000,1.000000,4.000000,4.000000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.000000

In [ ]:
#data cleaning

In [55]:
print(cars)

             Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0
4           Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
5     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0
6               Valiant  18.1    6  225.0  105  2.76  3.460  17.02   1   0
7            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0
8             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0
9              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0
10             Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0
11            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0
12           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0
13   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
14           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0
15          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
16          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
17   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
18  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
19    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
20             Fiat 128  32.4    4   78.7   66  4.08  2.200  17.42   1   1
21          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
22       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
23        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0
24          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
25     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0
26          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
27           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
28     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0
29            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  17.05   1   1
30        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1
31         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1
32       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
33         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1
34        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
35           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1
36          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
37   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
38  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
39    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
40             Fiat 128  32.4    4   78.7   66  4.08  2.200  17.42   1   1
41          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
42       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
43        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     3
5      3     2
6      3     1
7      3     4
8      4     2
9      4     2
10     4     4
11     4     4
12     3     3
13     3     4
14     3     3
15     3     3
16     3     2
17     3     4
18     3     4
19     3     4
20     4     1
21     4     2
22     4     1
23     3     1
24     3     2
25     3     2
26     3     2
27     3     4
28     3     2
29     4     1
30     5     2
31     5     2
32     5     4
33     5     6
34     5     8
35     4     2
36     3     2
37     3     4
38     3     4
39     3     4
40     4     1
41     4     2
42     4     1
43     3     1

In [59]:
cars = cars.rename(columns = {'Unnamed: 0':'model'})
print(cars)

                  model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0
4           Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
5     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0
6               Valiant  18.1    6  225.0  105  2.76  3.460  17.02   1   0
7            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0
8             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0
9              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0
10             Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0
11            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0
12           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0
13   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
14           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0
15          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
16          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
17   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
18  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
19    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
20             Fiat 128  32.4    4   78.7   66  4.08  2.200  17.42   1   1
21          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
22       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
23        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0
24          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
25     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0
26          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
27           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
28     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0
29            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  17.05   1   1
30        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1
31         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1
32       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
33         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1
34        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
35           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1
36          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
37   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
38  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
39    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
40             Fiat 128  32.4    4   78.7   66  4.08  2.200  17.42   1   1
41          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
42       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
43        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     3
5      3     2
6      3     1
7      3     4
8      4     2
9      4     2
10     4     4
11     4     4
12     3     3
13     3     4
14     3     3
15     3     3
16     3     2
17     3     4
18     3     4
19     3     4
20     4     1
21     4     2
22     4     1
23     3     1
24     3     2
25     3     2
26     3     2
27     3     4
28     3     2
29     4     1
30     5     2
31     5     2
32     5     4
33     5     6
34     5     8
35     4     2
36     3     2
37     3     4
38     3     4
39     3     4
40     4     1
41     4     2
42     4     1
43     3     1

In [123]:
cars = cars.rename(columns = {'wt':'weight'})
print(cars)

                  model   mpg  cyl   disp   hp  drat  weight   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90   2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90   2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85   2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08   3.215  19.44   1   0
4           Merc 450SLC  15.2    8  275.8  180  3.07   3.780  18.00   0   0
5     Hornet Sportabout  18.7    8  360.0  175  3.15   3.440  17.02   0   0
6               Valiant  18.1    6  225.0  105  2.76   3.460  17.02   1   0
7            Duster 360  14.3    8  360.0  245  3.21   3.570  15.84   0   0
8             Merc 240D  24.4    4  146.7   62  3.69   3.190  20.00   1   0
9              Merc 230  22.8    4  140.8   95  3.92   3.150  22.90   1   0
10             Merc 280  19.2    6  167.6  123  3.92   3.440  18.30   1   0
11            Merc 280C  17.8    6  167.6  123  3.92   3.440  18.90   1   0
12           Merc 450SE  16.4    8  275.8  180  3.07   4.070  17.40   0   0
13   Cadillac Fleetwood  10.4    8  472.0  205  2.93   5.250  17.98   0   0
14           Merc 450SL  17.3    8  275.8  180  3.07   3.730  17.60   0   0
15          Merc 450SLC  15.2    8  275.8  180  3.07   3.780  18.00   0   0
16          AMC Javelin  15.2    8  304.0  150  3.15   3.435  17.30   0   0
17   Cadillac Fleetwood  10.4    8  472.0  205  2.93   5.250  17.98   0   0
18  Lincoln Continental  10.4    8  460.0  215  3.00   5.424  17.82   0   0
19    Chrysler Imperial  14.7    8  440.0  230  3.23   5.345  17.42   0   0
20             Fiat 128  32.4    4   78.7   66  4.08   2.200  17.42   1   1
21          Honda Civic  30.4    4   75.7   52  4.93   1.615  18.52   1   1
22       Toyota Corolla  33.9    4   71.1   65  4.22   1.835  19.90   1   1
23        Toyota Corona  21.5    4  120.1   97  3.70   2.465  20.01   1   0
24          AMC Javelin  15.2    8  304.0  150  3.15   3.435  17.30   0   0
25     Dodge Challenger  15.5    8  318.0  150  2.76   3.520  16.87   0   0
26          AMC Javelin  15.2    8  304.0  150  3.15   3.435  17.30   0   0
27           Camaro Z28  13.3    8  350.0  245  3.73   3.840  15.41   0   0
28     Pontiac Firebird  19.2    8  400.0  175  3.08   3.845  17.05   0   0
29            Fiat X1-9  27.3    4   79.0   66  4.08   1.935  17.05   1   1
30        Porsche 914-2  26.0    4  120.3   91  4.43   2.140  16.70   0   1
31         Lotus Europa  30.4    4   95.1  113  3.77   1.513  16.90   1   1
32       Ford Pantera L  15.8    8  351.0  264  4.22   3.170  14.50   0   1
33         Ferrari Dino  19.7    6  145.0  175  3.62   2.770  15.50   0   1
34        Maserati Bora  15.0    8  301.0  335  3.54   3.570  14.60   0   1
35           Volvo 142E  21.4    4  121.0  109  4.11   2.780  18.60   1   1
36          AMC Javelin  15.2    8  304.0  150  3.15   3.435  17.30   0   0
37   Cadillac Fleetwood  10.4    8  472.0  205  2.93   5.250  17.98   0   0
38  Lincoln Continental  10.4    8  460.0  215  3.00   5.424  17.82   0   0
39    Chrysler Imperial  14.7    8  440.0  230  3.23   5.345  17.42   0   0
40             Fiat 128  32.4    4   78.7   66  4.08   2.200  17.42   1   1
41          Honda Civic  30.4    4   75.7   52  4.93   1.615  18.52   1   1
42       Toyota Corolla  33.9    4   71.1   65  4.22   1.835  19.90   1   1
43        Toyota Corona  21.5    4  120.1   97  3.70   2.465  20.01   1   0

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     3
5      3     2
6      3     1
7      3     4
8      4     2
9      4     2
10     4     4
11     4     4
12     3     3
13     3     4
14     3     3
15     3     3
16     3     2
17     3     4
18     3     4
19     3     4
20     4     1
21     4     2
22     4     1
23     3     1
24     3     2
25     3     2
26     3     2
27     3     4
28     3     2
29     4     1
30     5     2
31     5     2
32     5     4
33     5     6
34     5     8
35     4     2
36     3     2
37     3     4
38     3     4
39     3     4
40     4     1
41     4     2
42     4     1
43     3     1

In [76]:
#fill the null values with mean of the column
cars.qsec = cars.qsec.fillna(cars.qsec.mean())
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,0,3,1
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
20,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
21,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
22,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
23,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
29,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.05,1,1,4,1
30,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
31,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
33,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1

In [118]:
import pandas as pd
data =pd.read_excel("D:/Documents/Documents/Besant technology/5.python/code/Sample - Superstore.xls")
print(data)

      Row ID        Order ID Order Date  Ship Date       Ship Mode  \
0          1  CA-2016-152156 2016-11-08 2016-11-11    Second Class
1          2  CA-2016-152156 2016-11-08 2016-11-11    Second Class
2          3  CA-2016-138688 2016-06-12 2016-06-16    Second Class
3          4  US-2015-108966 2015-10-11 2015-10-18  Standard Class
4          5  US-2015-108966 2015-10-11 2015-10-18  Standard Class
...      ...             ...        ...        ...             ...
9989    9990  CA-2014-110422 2014-01-21 2014-01-23    Second Class
9990    9991  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9991    9992  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9992    9993  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9993    9994  CA-2017-119914 2017-05-04 2017-05-09    Second Class

     Customer ID     Customer Name    Segment        Country             City  \
0       CG-12520       Claire Gute   Consumer  United States        Henderson
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9989    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
9990    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9991    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9992    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9993    CC-12220      Chris Cortes   Consumer  United States      Westminster

      ... Postal Code  Region       Product ID         Category Sub-Category  \
0     ...       42420   South  FUR-BO-10001798        Furniture    Bookcases
1     ...       42420   South  FUR-CH-10000454        Furniture       Chairs
2     ...       90036    West  OFF-LA-10000240  Office Supplies       Labels
3     ...       33311   South  FUR-TA-10000577        Furniture       Tables
4     ...       33311   South  OFF-ST-10000760  Office Supplies      Storage
...   ...         ...     ...              ...              ...          ...
9989  ...       33180   South  FUR-FU-10001889        Furniture  Furnishings
9990  ...       92627    West  FUR-FU-10000747        Furniture  Furnishings
9991  ...       92627    West  TEC-PH-10003645       Technology       Phones
9992  ...       92627    West  OFF-PA-10004041  Office Supplies        Paper
9993  ...       92683    West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales  Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                        Eldon Fold 'N Roll Cart System   22.3680         2
...                                                 ...       ...       ...
9989                             Ultra Door Pull Handle   25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
9991                              Aastra 57i VoIP phone  258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
2         0.00    6.8714
3         0.45 -383.0310
4         0.20    2.5164
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[9994 rows x 21 columns]

In [117]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\harsh\anaconda3\lib\site-packages (2.0.1)

In [121]:
data = data.drop(columns=['Customer ID'])

In [ ]:
#to drop the rows we will use index
# cars = cars.drop(index=2)
# cars

In [ ]:
#indexing by position

In [92]:
#view only hp column
print(cars.iloc[:,4])  #[: (rows), 4(columns)]

0     110
1     110
2      93
3     110
4     180
5     175
6     105
7     245
8      62
9      95
10    123
11    123
12    180
13    205
14    180
15    180
16    150
17    205
18    215
19    230
20     66
21     52
22     65
23     97
24    150
25    150
26    150
27    245
28    175
29     66
30     91
31    113
32    264
33    175
34    335
35    109
36    150
37    205
38    215
39    230
40     66
41     52
42     65
43     97
Name: hp, dtype: int64

In [125]:
#first five records of hp column
cars.iloc[0:5,4]  #5-1 = 4th index

0    110
1    110
2     93
3    110
4    180
Name: hp, dtype: int64

In [98]:
#all rows, all columns 

cars.iloc[: , :]

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,0,3,1
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
20,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
21,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
22,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
23,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
29,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.05,1,1,4,1
30,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
31,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
33,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1

In [102]:
#for attributes from hp to carb see all the records from index 6 
cars.iloc[6:,4:]

#view attributes from drat to vs and records from 2nd index to 10th index
cars.iloc[2:11,5:9]

    drat     wt   qsec  vs
2   3.85  2.320  18.61   1
3   3.08  3.215  19.44   1
4   3.07  3.780  18.00   0
5   3.15  3.440  17.02   0
6   2.76  3.460  17.02   1
7   3.21  3.570  15.84   0
8   3.69  3.190  20.00   1
9   3.92  3.150  22.90   1
10  3.92  3.440  18.30   1

In [127]:
#now we want to look at all rows and only the first column 
cars.iloc[:,0]

0               Mazda RX4
1           Mazda RX4 Wag
2              Datsun 710
3          Hornet 4 Drive
4             Merc 450SLC
5       Hornet Sportabout
6                 Valiant
7              Duster 360
8               Merc 240D
9                Merc 230
10               Merc 280
11              Merc 280C
12             Merc 450SE
13     Cadillac Fleetwood
14             Merc 450SL
15            Merc 450SLC
16            AMC Javelin
17     Cadillac Fleetwood
18    Lincoln Continental
19      Chrysler Imperial
20               Fiat 128
21            Honda Civic
22         Toyota Corolla
23          Toyota Corona
24            AMC Javelin
25       Dodge Challenger
26            AMC Javelin
27             Camaro Z28
28       Pontiac Firebird
29              Fiat X1-9
30          Porsche 914-2
31           Lotus Europa
32         Ford Pantera L
33           Ferrari Dino
34          Maserati Bora
35             Volvo 142E
36            AMC Javelin
37     Cadillac Fleetwood
38    Lincoln Continental
39      Chrysler Imperial
40               Fiat 128
41            Honda Civic
42         Toyota Corolla
43          Toyota Corona
Name: model, dtype: object

In [ ]:
#indexing by label

In [104]:
#see all the record of mpg column
cars.loc[:,"mpg"]

0     21.0
1     21.0
2     22.8
3     21.4
4     15.2
5     18.7
6     18.1
7     14.3
8     24.4
9     22.8
10    19.2
11    17.8
12    16.4
13    10.4
14    17.3
15    15.2
16    15.2
17    10.4
18    10.4
19    14.7
20    32.4
21    30.4
22    33.9
23    21.5
24    15.2
25    15.5
26    15.2
27    13.3
28    19.2
29    27.3
30    26.0
31    30.4
32    15.8
33    19.7
34    15.0
35    21.4
36    15.2
37    10.4
38    10.4
39    14.7
40    32.4
41    30.4
42    33.9
43    21.5
Name: mpg, dtype: float64

In [129]:
#display the records from  index 0 to index 6 from mpg column
cars.loc[0:6,"mpg"]

0    21.0
1    21.0
2    22.8
3    21.4
4    15.2
5    18.7
6    18.1
Name: mpg, dtype: float64

In [131]:
#see the first 7 records from mpg to qsec column
cars.loc[0:6,"mpg":"qsec"]

    mpg  cyl   disp   hp  drat  weight   qsec
0  21.0    6  160.0  110  3.90   2.620  16.46
1  21.0    6  160.0  110  3.90   2.875  17.02
2  22.8    4  108.0   93  3.85   2.320  18.61
3  21.4    6  258.0  110  3.08   3.215  19.44
4  15.2    8  275.8  180  3.07   3.780  18.00
5  18.7    8  360.0  175  3.15   3.440  17.02
6  18.1    6  225.0  105  2.76   3.460  17.02

In [133]:
#set value 1 to column 'am' auromated = 0, manual =1
cars['am'] = 1
cars

,model,mpg,cyl,disp,hp,drat,weight,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,1,3,1
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,1,3,3
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,1,3,2
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,1,3,1
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,1,3,4
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,1,4,2
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,1,4,2
10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,1,4,4
11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,1,4,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,1,3,3
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,1,3,4
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,1,3,3
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,1,3,3
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,1,3,2
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,1,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,1,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,1,3,4
20,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
21,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
22,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
23,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,1,3,1
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,1,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,1,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,1,3,2
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,1,3,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,1,3,2
29,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.05,1,1,4,1
30,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
31,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
33,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,1,3,2
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,1,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,1,3,4
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,1,3,4
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,1,3,1

In [135]:
#double up records in 'am' using lambda fxn
f = lambda x: x*2
cars['am']=cars['am'].apply(f)
cars

,model,mpg,cyl,disp,hp,drat,weight,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,2,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,2,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,2,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,2,3,1
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,2,3,3
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,2,3,2
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,2,3,1
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,2,3,4
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,2,4,2
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,2,4,2
10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,2,4,4
11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,2,4,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,2,3,3
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,2,3,3
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,2,3,3
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4
20,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,2,4,1
21,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,2,4,2
22,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,2,4,1
23,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,2,3,1
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,2,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,2,3,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,2,3,2
29,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.05,1,2,4,1
30,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,2,5,2
31,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,2,5,2
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,2,5,4
33,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,2,5,6
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,2,5,8
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,2,4,2
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,2,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,2,4,2
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,2,4,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,2,3,1